.header_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title" "search search" "category sorting";
    height: 150px;
    background-image: url("/public/img/header-background.jpg");
    background-size: auto auto;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 40px;
    font-family: "Arial Black";
    color: black;
    grid-area: title;
}

.search {
    text-align: center;
    grid-area: search;
}

.category {
    grid-area: category;
    text-align: right;
}

.sorting {
    grid-area: sorting;
}

.filters {
    margin-top: 10px;
    text-align: center;
}

.categoriesSelect {
    margin-right: 20px;
}

.categories,
.sort {
margin-right: 10px;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 20px;
    }
    .header_wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: "title" "search" "category" "sorting";
    }
    .category{
        margin-left: 10px;
        text-align: left;
    }
    .sorting{
        margin-left: 10px;
        text-align: left;
    }
}