.wrapper {
    display: grid;
    grid-template-columns: 15% minmax(320px, 1275px) 15%;
    grid-template-areas: ". h ." ". bc ." ". c ." ". p .";
}

.header {
    width: 100%;
    grid-area: h;
}

.content {
    grid-area: c;
}

.booksCount {
    grid-area: bc;
    text-align: center;
    padding: 10px;
}

.paginator {
    grid-area: p;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
}

@media (max-width: 1000px) {
    .wrapper {
        grid-template-columns: 10% minmax(320px, 1275px) 10%;
    }
    .paginator {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .wrapper {
        grid-template-columns: 5% minmax(320px, 1275px) 5%;
    }
    .paginator {
        font-size: 16px;
    }
}