.wrapper {
    display: grid;
    grid-template-columns: 15% minmax(320px, 1275px) 15%;
    grid-template-areas: ". h ." ". bc ." ". c .";
}

.header {
    grid-area: h;
}

.content {
    grid-area: c;
}

.booksCount {
    grid-area: bc;
    text-align: center;
    padding: 10px;
}