.wrapper {
    display: grid;
    grid-template-columns: 15% minmax(320px, 1275px) 15%;
    grid-template-areas: ". h ." ". bc ." ". c ." ". p .";
}

.header {
    grid-area: h;
}

.content {
    grid-area: c;
}

.booksCount {
    grid-area: bc;
    text-align: center;
    padding: 10px;
}

.paginator {
    grid-area: p;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    width: 11%;
    margin: auto;
}