.wrapperBookItem {
    display: grid;
    grid-template-columns: 1fr;
    background: #ececec;
    padding: 5%;
    text-decoration: none;
    color: black;
}

.bookItemImg {
    text-align: center;
    margin: 5%;
}

.bookItemImg img {
    box-shadow: 10px 5px 5px #bbb9b9;
    width: 75%;
}

.bookItemTitle {
    font-weight: bold;
    padding: 5% 5% 5% 0;
}

.bookItemCategory {
    color: gray;
    text-decoration: underline;
}

.bookItemAuthors {
    color: gray;
}